<!-- Custom Modal -->
<div id="customModal" class="custom-modal">
  <div class="modal-content">
    <div id="modalIcon" class="modal-icon"></div>
    <div id="modalTitle" class="modal-title"></div>
    <div id="modalMessage" class="modal-message"></div>
    <div id="modalButtons" class="modal-buttons"></div>
  </div>
</div>